{% extends 'base.html' %}

{% block content %}

{% with messages = get_flashed_messages(with_categories = true) %}
{% if messages  %}
    {% for cat,msg in messages  %}
        {% if cat == 'user-created' or cat == 'auth-success' %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ msg }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

            
        {% endif %}
        
    {% endfor %}
    
{% endif %}
{% endwith %}
<div class="middle-container">
    <header class="row">
        <div class="col-12 col-md-6" id="header-text">
            <h1>Welcome to the Illest Podcast!</h1>

            <h6>
                The Illest was started by two young adult cancer survivors.
            
                Our goal is to share our life experiences after cancer with the world.</h6>

            <h6>Connecting with others as a young adult cancer survivor can be tough and we get that. 
                We are here for you. Join our Slack channel to connect with other survivors!</h6>

                <h6>See you all on Apple Podcasts or Spotify every Wednesday at 12:00 EST!</h6>

                <h6> As for our catchphrase, stay ill, folks!</h6>
            <div>
                
                <button class="btn btn-primary">Join Our Slack</button>
            </div>
        </div>
        
        <div class="col-12 col-md-6">
            <img src="../../static/images/undraw_podcast_q6p7.svg" alt="Hero image" class="header-image">
        </div>
    </header>
    <div class="bottom-container">
        <p class="copyright">© 2021 The Illest.</p>
    </div>
   

{% endblock content %}